body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    margin: 0;
}

header{
    background-color: aqua;
}

nav.menu{
    display: flex;
    gap: 5%;
    margin-left: 2%;
}

.contenido{
    background-color: antiquewhite;
    display: flex;
    /*height: 90vh;*/
}

aside.publicidad{
    width: 25%;
    height: 100;
    text-align: right;
}

iframe{
    height: 100%;
}

footer{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logos{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

a.contenedor_logos{
    display: flex;
    align-items: center;
}

img.logo_redes{
    height: 60%;
    object-fit: cover;
}

